.wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    width: 100%;
    justify-content: center;
}

.paginate {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: center;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
    }
}