.wrapper {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid #000;
    padding: 10px;
    gap: 40px;
    width: 100%;
    max-width: 300px;
}

.info {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;

    p {
        font-size: 16px;
    }
}

.actions {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    button {
        background: #000;
        padding: 10px 5px;
        color: #fff;
        cursor: pointer;

        &:hover {
            color: red;
        }
    }
}

.edit {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    &__container {
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
        color: #fff;

        p {
            text-align: center;
        }

        button {
            color: #fff;
            cursor: pointer;
        }
    }
}