.wrapper {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
}

.title {
    font-size: 32px;
    margin-bottom: 40px;
}

.list {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.sort {
    margin-bottom: 20px;
    p {
        margin-bottom: 10px;
    }
}